<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="/static/css/mdi.css" th:href="@{/css/mdi.css}">
    <link rel="stylesheet" crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
</head>
<body>
<div class="" id="wrapper">
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark text-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#" th:href="@{/}">
                            <i class="mdi mdi-home mdi-18px"></i> Home
                        </a>

                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLogin" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-login mdi-18px"></i> Login
                            </a>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <a class="dropdown-item" href="#">Admin</a>
                                <a class="dropdown-item" href="#">Expert</a>
                                <a class="dropdown-item" href="#">Customer</a>
                            </div>
                        </div>

                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRegister" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="mdi mdi-file-sign mdi-18px"></i> Register
                            </a>
                            <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                <a class="dropdown-item" href="#">Admin</a>
                                <a class="dropdown-item" href="#">Expert</a>
                                <a class="dropdown-item" href="#">Customer</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </nav>

        <div class="container-fluid mt-3 mb-3">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="card align-content-center">
                        <div class="card-header">
                            <h3 class="card-title h3">Workgroups</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive-xxl" th:if="${not #lists.isEmpty(workgroups)}">

                                <table class="table table-hover table-light">
                                    <thead class="header">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:remove="all">
                                        <td>1</td>
                                        <td>House</td>
                                    </tr>
                                    <tr class="clickable-row" th:each="workgroup: ${workgroups}"
                                        th:attr="data-href = ${'/workgroup/' + workgroup.id}">
                                        <td th:text="${workgroup.id}">2</td>
                                        <td th:text="${workgroup.name}">Computer</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="webjars/jquery/3.6.0/jquery.min.js"></script>

<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>

<script src="/static/js/listener.js"
        th:src="@{/js/listener.js}"></script>
</body>
</html>